<form onsubmit="confirmDelete(this, '{{ path('company_messages', {'box': box}) }}', '#tab{% if box == 'inbox' %}1{% else %}2{% endif %}');return false;" action="{{ path('company_message_delete', { 'id': entity.id }) }}" method="post">
    {{ form_widget(delete_form) }}
    <button class="btn btn-danger" type="submit">Delete</button>
    {% if not entity.sentFromCompany %}
    <a class="btn btn-success" onclick="requestData('{{ path('company_new_message_form', {'userName': entity.user.loginName}) }}', '#tab{% if box == 'inbox' %}1{% else %}2{% endif %}');return false;" href="{{ path('company_new_message', {'userName': entity.user.loginName}) }}">Reply</a>
    {% endif %}
</form>
<ul class="list2">
    <li>
        <div class="row-fluid show-grid">
            <div class="span1">{% if entity.sentFromCompany %}To{% else %}From{% endif %} </div>
            <div class="span11">
                {{ entity.user }}
            </div>
        </div>
    </li>

    <li>
        <div class="row-fluid show-grid">
            <div class="span1">Title </div>
            <div class="span11">{{ entity.title }}</div>
        </div>
    </li>

    <li>
        <div class="row-fluid show-grid">
            <div class="span1">Date </div>
            <div class="span11">
                {{ entity.createdAt|date('M d,Y') }}
            </div>
        </div>
    </li>

    <li>
        <div class="row-fluid show-grid">
            <div class="span1">Message </div>
            <div class="span11">
                {{ entity.message }}
            </div>
        </div>
    </li>
</ul>
