<div class="Send-Message">
    <form action="{{ path('company_create_message') }}" method="post">

        {% if form_errors(form) %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert"> × </button>
            {{ form_errors(form) }}
        </div>
        {% endif %}

        <div class="row show-grid">
            <div class="span4 select-box">
                <label>To</label>
                {{ form_widget(form.user) }}
                {% if form_errors(form.user) %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert"> × </button>
                    {{ form_errors(form.user) }}
                </div>
                {% endif %}
            </div>
            <div class="span2 pull-right">
                <button class="btn btn-primary large pull-right" type="submit">Send</button>
                <a class="pull-right back" onclick="$('#tab1Click').click();return false;" href="{{ path('company_box', {'box': 'inbox'}) }}">Cancel</a>
            </div>
        </div>

        <div class="controls">
            <label>Subject</label>
            {{ form_widget(form.title, {'attr': {'class': 'input-block-level'} }) }}

            {% if form_errors(form.title) %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert"> × </button>
                {{ form_errors(form.title) }}
            </div>
            {% endif %}
        </div>

        <div class="controls">
            <label>Message</label>
            {{ form_widget(form.message, {'attr': {'class': 'input-block-level'} }) }}
            {% if form_errors(form.message) %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert"> × </button>
                {{ form_errors(form.message) }}
            </div>
            {% endif %}
        </div>
        {{ form_rest(form) }}
    </form>
</div>