{% extends '::fb_base.html.twig' %}

{% block title %}Resume Employment Histories{% endblock %}

{% block pageTitle %}Resume Employment Histories{% endblock %}

{% block body %}

        <div class="container Main-content">

            <div class="Student">

                <ul class="nav nav-tabs">
                    <li><a href="{{ path('fb_cv_edit', {'id': entity.id}) }}">Objectives</a></li>
                    <li><a href="{{ path('fb_cv_skills', {'id': entity.id}) }}">Skills</a></li>
                    <li class="active"><a href="{{ path('fb_cv_employment_history', {'id': entity.id}) }}">Experience</a></li>
                    <li class="pull-right span3"><h3>Strength of Profile</h3></li>
                </ul>

                <div class="row-fluid show-grid">

                    <div class="span8">
                        <form class="company-form" action="{{ path('fb_cv_employment_history', {'id': entity.id}) }}" method="post">
                            <legend><h2>{% if formName %}{{ formName }}{% endif %}</h2></legend>

                            <ul class="list2">
                                <li>
                                    <label class="checkbox">
                                        <input{% if userEmploymentHistories | length == cvEmploymentHistories | length %} checked="checked"{% endif %} onchange="checkUnCheck(this);" id="all_cv_experience" type="checkbox"> Check / UnCheck All
                                    </label>
                                </li>
                                {% for employmentHistory in userEmploymentHistories %}
                                <li>
                                    <label class="checkbox">
                                        <input{% if employmentHistory in cvEmploymentHistories %} checked="checked"{% endif %} id="employmentHistory_{{ employmentHistory.id }}" class="cvemploymentHistoryInput" name="cv_employment_histories[]" type="checkbox" value="{{ employmentHistory.id }}"> {{ employmentHistory }}
                                        <small class="muted pull-right"><a href="{{ path('fb_employmenthistory_edit', {'id': employmentHistory.id}) }}">Edit</a></small>
                                    </label>
                                </li>
                                {% endfor %}
                            </ul>

                            <fieldset>
                                <hr class="divider"/>
                                <div class="controls ">
                                    <button type="submit" class="btn btn-primary pull-right">{{ buttonText }}</button>
                                    <a title="Add new employment history" href="{{ path('fb_employmenthistory_new') }}" class="pull-right back">Add new employment history</a>
                                </div>
                            </fieldset>
                        </form>

                    </div><!--span 9-->

                    <div class="span4">
                        {% render "ObjectsInternJumpBundle:Task:fb_userMeter" %}
                    </div>

                </div><!--row-fluid show-grid-->

            </div><!---Student --->
        </div><!--container-->
{% endblock %}


{% block javascripts %}
{{ parent() }}
<script>
    function checkUnCheck(element) {
        if(element.checked){
            $('.cvemploymentHistoryInput').each(function() {
                if(!this.checked){
                    $(this).click();
                }
            });
            return;
        }
        $('.cvemploymentHistoryInput').each(function(){
            if(this.checked){
                $(this).click();
            }
        });
    }
    $(document).ready(function() {
        $('input[type="checkbox"]').ezMark();
    });
</script>
{% endblock %}
