{% extends '::base.html.twig' %}
{% block title %}{{ manager }}{% endblock %}

{% block stylesheets %}
{{parent()}}
<link href="{{ asset('css/colorBox/colorbox.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
<div class="container Main-content">
    <div class="row-fluid">
        <div class="span12">
            <div class="company-form company-profile">
                <h2><div class="img-box"><img src="{{company.getTimThumbUrl(98,102)}}"></div>{{company}} Profile
                    <a href="#companyMap" class="showCompanyMap map">Show Map</a>
                </h2>
                <div class="C-profile">
                    <ul class="Social-icons-f unstyled">
                        {% if company.facebookUrl %}
                        <li><a class="ico-facebook" href="{{ company.facebookUrl }}" target="_blank" rel="nofollow"></a></li>
                        {% endif %}
                        {% if company.twitterUrl %}
                        <li><a class="ico-twitter" href="{{ company.twitterUrl }}" target="_blank" rel="nofollow"></a></li>
                        {% endif %}
                        {% if company.googlePlusUrl %}
                        <li><a class="ico-google" href="{{ company.googlePlusUrl }}" target="_blank" rel="nofollow"></a></li>
                        {% endif %}
                        {% if company.linkedInUrl %}
                        <li><a class="ico-linkedin" href="{{ company.linkedInUrl }}" target="_blank" rel="nofollow"></a></li>
                        {% endif %}
                        {% if company.youtubeUrl %}
                        <li><a href="{{ company.youtubeUrl }}" target="_blank" rel="nofollow"></a></li>
                        {% endif %}
                    </ul>

                    <table width="100%" border="0" class="table table-bordered">
                        <tbody>
                            <tr>
                                <th scope="row">Name </th>
                                <td>{{company}}</td>
                            </tr>
                            <tr>
                            <th scope="row">Industry</th>
                                <td>
                                {% for cat in company.professions %}
                                {% if not loop.last %}
                                {{cat}},
                                {% else %}
                                {{cat}}
                                {% endif %}
                                {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Address</th>
                                <td>{{company.address}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Country</th>
                                <td>{{company.getCountryName()}}</td>
                            </tr>
                            {% if company.state %}
                            <tr>
                                <th scope="row">State</th>
                                <td>{{company.state}}</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <th scope="row">City</th>
                                <td>{{company.city}}</td>
                            </tr>
                            {% if company.url %}
                            <tr>
                                <th scope="row">Website</th>
                                <td><a href="{{company.url}}" target="_blank">{{company.url}} </a> </td>
                            </tr>
                            {% endif %}

                            <tr>
                                <th scope="row">Widget</th>
                                <td>
                                    <a href="{{ path('create_company_widget',{ 'id' : company.id }) }}">click here</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div><!--C-profile--->
            </div><!--company-form-->

        {% if companyJobs | length > 0 %}
        <h3>Internship list</h3>
        <div class="Result-box">
            <div class="title3">{% if lastPageNumber > 1 %}Page {{page}} of {{lastPageNumber}}{% endif %}
                <div class="Select-a btn-group pull-right">
                </div>
            </div><!---title3--->
            <ul class="unstyled inner-list">
                {% for entity in companyJobs %}
                    <li class="row-fluid show-grid">
                        <div class="span8">
                            <h4><a class="titl-blue" href="{{path('internship_show',{'id' : entity.id})}}">{{ entity.title }}</a></h4>
                            <i><strong><a href="{{path('internship_show',{'id' : entity.id})}}">Active From : {{ entity.activeFrom|date('d M Y') }} <br/>To : {{ entity.activeTo|date('d M Y') }}</a></strong></i>
                            <p><br></p>
                            <p></p>
                            {% if entity.active %}
                                <span class="label label-success">Active</span>
                            {% else %}
                                <span class="label label-important">Not Active</span>
                            {% endif %}
                        </div>
                        <div class="span4">
                            <div class="Area">{{ entity.city }}, {%if entity.state %}{{ entity.state }},{% endif %} {{ entity.getCountryName }}</div>
                            <a href="{{ path('internship_edit', { 'id': entity.id }) }}"><i class="icon-file"></i> Edit</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div><!--Result-box-->
        {% endif %}

        {% if lastPageNumber > 1 %}
            <div class="pagination pagination-centered">
                <ul>
                    {% if page > 1 %}
                        <li><a href="{{ url('manager_home') }}" class="right">&laquo;&laquo;</a></li>
                        <li><a href="{{ url('manager_home', {'page': page - 1}) }}" class="right">&laquo;</a></li>
                    {% endif %}

                    {% for numberOfPage in 1..lastPageNumber %}
                    {% if numberOfPage > page - 3 and numberOfPage < page + 3 %}
                    {% if page == numberOfPage %}<li class="active"><a href="javascript:void(0)">{{ numberOfPage }}</a></li>{% else %}<li><a href="{{ url('manager_home', {'page': numberOfPage}) }}">{{ numberOfPage }}</a></li>{%endif%}
                    {% endif %}
                    {% endfor %}


                    {% if page < lastPageNumber %}
                        <li><a href="{{ url('manager_home', {'page': page + 1}) }}" class="left">&raquo;</a></li>
                        <li><a href="{{ url('manager_home', {'page': lastPageNumber}) }}" class="left">&raquo;&raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
    </div><!--row-fluid-->

    <div style="display: none;">
        <div  id="companyMap">
            <div class="modal-header">
                <h3>{{ company }} </h3>
            </div>
            <div class="modal-body">
                <p>
                <div id="map_canvas" style="width: 900px;height: 350px;"></div>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
{{parent()}}
<script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script src="{{ asset('js/jquery.colorbox-min.js') }}"></script>
<script type="text/javascript" src="{{asset('js/website.js')}}"></script>
<script>

var latitude = '{{company.Latitude}}';
var longitude = '{{company.Longitude}}';
$(document).ready(function() {
    //add company to user fav list
    $('.addCompanyToFavorite').click(function() {
        var status = $(this).attr('data-status');
        //show loading img
        $('.loading').show();
        $.ajax({
            url: "{{ path('add_company_to_favorite',{'companyId' : company.id}) }}" + "/" + status,
            success: function(msg) {
            },
            complete: function(msg) {
                location.reload();
            }
        });
    });


    $('a.removeUserFromFavorite').click(function() {
        var userId = $(this).attr('data-user-id');
        //show loading img
        $('.loading').show();
        $.ajax({
            url: "{{ path('add_user_to_favorite') }}" + "/" + userId + "/remove",
            success: function(msg) {
            },
            complete: function(msg) {
                location.reload();
            }
        });
    });

    $('.showCompanyMap').colorbox({
        inline: true,
        onLoad: function() {
            setTimeout(function() {
                initialize();
            }, 1000);
        }
    });
})

</script>
<script src="{{asset('bundles/objectsinternjump/js/internShipMap.js')}}"></script>
{% endblock %}

