{% extends '::base.html.twig' %}
{% block title %}{% trans %}LinkedIn Sign up{% endtrans %}{% endblock %}

{% block body %}
{% if form_errors(form) %}
    <div>{{ form_errors(form) }}</div>
{% endif %}
<form action="{{ path('linkedIn_user_data') }}" method="post" {{ form_enctype(form) }}>

    {{ form_errors(form.email) }}<br>
    <label>{% trans %}Email{% endtrans %}:</label>
    {{ form_widget(form.email.Email) }}<br/>

    <label>{% trans %}ReEmail{% endtrans %}:</label>
    {{ form_widget(form.email.ReEmail) }}<br>

    {{ form_rest(form) }}

    <input type="submit" title="{% trans %}Sign up{% endtrans %}" value="{% trans %}Sign up{% endtrans %}" />
</form>
{% endblock %}