<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width"/>
        <meta name="google-site-verification" content="4h4nUoQOl0ougVoshJ0GYOcDNtwUI-2YOvQCuRLjric" />
        {% block meat %}
        <meta name="description" content="{{site_meta_description}}" />
        <meta name="keywords" content="{{site_meta_keywords}}" />
        {% endblock %}
        <title>{% block title %}{{site_meta_title}}{% endblock %} - InternJump Internships & Entry Level Jobs</title>

        {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.css')}}" rel="stylesheet" media="screen"/>
        <!--<link href="{{ asset('css/main.css')}}" rel="stylesheet" media="screen"/>-->
        <link href="{{ asset('css/bootstrap-responsive.css')}}" rel="stylesheet"/>
        <link rel="stylesheet" href="{{ asset('css/normalize.css')}}"/>
        <link rel="stylesheet" href="{{ asset('css/chosen.css')}}"/>
        <link rel="stylesheet" href="{{ asset('css/main_new.css')}}"/>
        <link rel="stylesheet" href="{{ asset('css/font-awesome.css')}}"/>
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,400italic,700italic' rel='stylesheet' type='text/css'/>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'/>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'/>
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <script src="{{ asset('js/vendor/modernizr-2.6.2.min.js')}}"></script>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id))
                    return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
        </head>
        <body>
            <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
            <![endif]-->

            <div class="loading" style="display: none">
                <img src="{{ asset('img/loadingfacebox.gif') }}" alt="loader"/>
                <p>{% trans %}Loading........{% endtrans %}</p>
            </div>

            <div class="main-wapper">
        	<div class="top-bar">
        		<div class="container">
                    <ul class="Log-links unstyled pull-right hidden-phone">
                    	{% if is_granted('ROLE_NOTACTIVE_COMPANY') %}
                            <li class="Sign-up"><a href="{{ path('logout') }}"><i class="fa fa-user"></i> Sign out</a></li>
                        {% elseif is_granted('ROLE_NOTACTIVE') %}
                            <li class="Sign-up"><a href="{{ path('logout') }}"><i class="fa fa-user"></i> Sign out</a></li>
                        {% elseif is_granted('ROLE_COMPANY_MANAGER') %}
                            <li class="Sign-up"><a href="{{ path('logout') }}"><i class="fa fa-user"></i> Sign out</a></li>
                        {% elseif is_granted('ROLE_ADMIN') %}
                            <li class="Sign-up"><a href="{{ path('logout') }}"><i class="fa fa-user"></i> Sign out</a></li>
                        {% else %}
                             <li class="Login"><a href="{{ path('login') }}"><i class="fa fa-key"></i> Login</a></li>
                             <li class="Sign-up"><a href="{{path('user_signup')}}"><i class="fa fa-user"></i>  sign up</a></li>
                        {% endif %}
                    </ul>
                    <ul class="social-icons pull-right">
                        {% if twitter_page_url %}
                        <li><a href="{{twitter_page_url}}" target="_blank"><i class="fa fa-twitter"></i> twitter</a></li>
                        {% endif %}
                        {% if skybe_name %}
                        <li><a href="skype:{{skybe_name}}?call"><i class="fa fa-skype"></i> skype</a></li>
                        {% endif %}
                        {% if google_page_url %}
                        <li><a href="{{google_page_url}}" target="_blank"><i class="fa fa-google-plus"></i> Google+</a></li>
                        {% endif %}
                        {% if linkledIn_page_url %}
                        <li><a href="{{linkledIn_page_url}}" target="_blank"><i class="fa fa-linkedin"></i>  linkedin</a></li>
                        {% endif %}
                         {% if face_page_url %}
                         <li><a href="{{face_page_url}}" target="_blank"><i class="fa fa-facebook"></i> facebook</a></li>
                         {% endif %}
                    </ul>
                </div>
        	</div>

               <div class="navbar {% block headerClasss %}head-2{% endblock %}">
                <div class="container">

                 <ul class="Log-links unstyled pull-right  style2 visible-phone">
                        {% if is_granted('ROLE_NOTACTIVE_COMPANY') %}
                            <li class="Sign-up"><a href="{{ path('logout') }}"><i class="fa fa-user"></i> Sign out</a></li>
                        {% elseif is_granted('ROLE_NOTACTIVE') %}
                            <li class="Sign-up"><a href="{{ path('logout') }}"><i class="fa fa-user"></i> Sign out</a></li>
                        {% elseif is_granted('ROLE_COMPANY_MANAGER') %}
                            <li class="Sign-up"><a href="{{ path('logout') }}"><i class="fa fa-user"></i> Sign out</a></li>
                        {% elseif is_granted('ROLE_ADMIN') %}
                            <li class="Sign-up"><a href="{{ path('logout') }}"><i class="fa fa-user"></i> Sign out</a></li>
                        {% else %}
                             <li class="Login"><a href="{{ path('login') }}"><i class="fa fa-key"></i> Login</a></li>
                             <li class="Sign-up"><a href="{{path('user_signup')}}"><i class="fa fa-user"></i>  sign up</a></li>
                        {% endif %}
                    </ul>

                  <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a href="{{ path('site_homepage') }}" class="brand"><img src="{{ asset('img/Logo.png')}}"></a>
                  <div class="nav-collapse collapse pull-right">
                    <ul class="nav">
                      <li><a href="{{ path('site_homepage') }}"><i class="fa fa-desktop"></i> Home</a></li>
                      {% if not is_granted('ROLE_NOTACTIVE_COMPANY') and not is_granted('ROLE_NOTACTIVE') and not is_granted('ROLE_COMPANY_MANAGER')%}
                      <li><a href="{{path('employers_data')}}"><i class="fa fa-file-text"></i> Employers</a></li>
                      <li><a href="{{path('students_data')}}"><i class="fa fa-pencil"></i> students</a></li>
                      {% endif %}
                      <li><a href="{{path('internship',{'loginName':'internjump'})}}"><i class="fa fa-suitcase"></i>Career Centers</a></li>
                      <li><a href="{{path('aboutUs')}}"><i class="fa fa-mobile-phone"></i> About Us</a></li>
                    </ul>
                  </div><!--/.nav-collapse -->
                </div>
            </div><!--navbar-->
            {% block body %}{% endblock %}
            <div class="footer">
            	<div class="container">
                	 <div class="row-fluid show-grid">
                           <div class="span4">
                           	<h2>GET IN TOUCH</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
                               <ul class="social-icons">
                                   {% if twitter_page_url %}
                                    <li><a href="{{twitter_page_url}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    {% endif %}
                                    {% if skybe_name %}
                                    <li><a href="skype:{{skybe_name}}?call"><i class="fa fa-skype"></i></a></li>
                                    {% endif %}
                                    {% if google_page_url %}
                                    <li><a href="{{google_page_url}}" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                    {% endif %}
                                    {% if linkledIn_page_url %}
                                    <li><a href="{{linkledIn_page_url}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    {% endif %}
                                     {% if face_page_url %}
                                     <li><a href="{{face_page_url}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                     {% endif %}

                                </ul>
                           </div>
                           <div class="span8 text-right">

                          	 <ul class="menu-footer pull-right unstyled">
                             	<li><a href="{{ path('site_homepage') }}">Home</a>|</li>
                                <li><a href="{{path('resources')}}">Resources</a>|</li>
                            	 <li><a href="{{path('aboutUs')}}">About Us </a>|</li>
                                 <li><a href="{{path('termsOfUse')}}">Terms Of Service</a>|</li>
                                 <li><a href="{{path('privacy')}}">Privacy Policy</a>|</li>
                                 <li><a href="{{path('internship',{'loginName':'internjump'})}}">Careers</a>|</li>
                                 <li><a href="{{path('contactUs')}}">Contact Us</a>|</li>
                                 <li><a href="{{path('employers')}}">Industries</a>|</li>
                                 <li><a href="{{path('FAQ_page')}}">FAQ</a></li>
                             </ul>
                           </div>
                     </div>
                </div>
                <div class="copy-right">
                	<div class="container"><p class="text-left">© {{"now"|date('Y')}} Innovative Web. All rights reserved.</p>
                    	<a href="{{ path('site_homepage') }}" class="logo-footer brand"><img src="{{ asset('img/Logo.png')}}"></a>
                    </div>
                </div>
            </div><!--footer-->

        </div>
                            {% block javascripts %}
                            <script src="{{asset('js/libs/jquery-1.8.1.js')}}"></script>
                            <script src="{{asset('js/bootstrap.min.js')}}"></script>
                            <script src="{{asset('js/plugins.js')}}"></script>
                            <script src="{{asset('js/main.js')}}"></script>
                            <script src="{{asset('js/plugins_new.js')}}"></script>
                            <script src="{{asset('js/main_new.js')}}"></script>
                            <script>
                                var _gaq=[['_setAccount','{{analytics}}'],['_trackPageview']];
                                (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                                    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
                                    s.parentNode.insertBefore(g,s)}(document,'script'));

                                $(document).ready(function(){
                                  $('a.notifiToTooltip,a.editTooltip,a.messageTooltip').tooltip();

                                   setTimeout(function(){
                                       $('div.timeMessage').slideUp(1000);
                                    },6000);


                                   {% if is_granted('ROLE_USER') %}
                                    setInterval(function(){
                                        $.ajax({
                                            type: 'POST',
                                            url: '{{path('get_user_notifications')}}',
                                            success: function(msg) {
                                                $('.notifsWrapper').html('');
                                                $('.notifsWrapper').html(msg);
                                            }
                                        });
                                    },{{refresh_notification_time}}*1000);
                                    {% elseif is_granted('ROLE_COMPANY') %}
                                    setInterval(function(){
                                        $.ajax({
                                            type: 'POST',
                                            url: '{{path('get_company_notifications')}}',
                                            success: function(msg) {
                                                $('.notifsWrapper').html('');
                                                $('.notifsWrapper').html(msg);
                                            }
                                        });
                                    },{{refresh_notification_time}}*1000);
                                    {% endif %}
                                });
                                /*
                                 * this function will update the company notificatins widget
                                 */
                                function updateCompanyNotifications(){
                                    $.ajax({
                                            type: 'POST',
                                            url: '{{path('get_company_notifications')}}',
                                            success: function(msg) {
                                                $('.notifsWrapper').html('');
                                                $('.notifsWrapper').html(msg);
                                            }
                                        });
                                }

                                /*
                                * this function will update the user notificatins widget
                                */
                                function updateUserNotifications(){
                                    $.ajax({
                                            type: 'POST',
                                            url: '{{path('get_user_notifications')}}',
                                            success: function(msg) {
                                                $('.notifsWrapper').html('');
                                                $('.notifsWrapper').html(msg);
                                            }
                                        });
                                }
                            </script>
                            {% endblock %}
                        </body>
                    </html>
