<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Admin Home{% endblock %}</title>
        {% block stylesheets %}
        <link href="{{ asset('bundles/objectsadmin/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <style type="text/css">
                body {padding-top: 40px;}
                button,input,select,textarea {margin: 5px;padding: 5px;}
            </style>
            <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        </head>
        <body>
            <div class="container-fluid">
                <div class="topbar-wrapper">
                    <div data-dropdown="dropdown" class="topbar">
                        <div class="topbar-inner">
                            <div class="container-fluid">
                                <img src="{{ asset('/img/internjump-backend-logo.png') }}" alt="Internjump" style="float: left;padding-right: 10px;"/>
                                <h3><a href="{{ url('admin_home') }}">Admin Home</a></h3>
                                <div class="nav-collapse collapse">
                                    <ul class="nav nav-pills">
                                        <li class="dropdown">
                                            <a class="dropdown-toggle"
                                               data-toggle="dropdown"
                                               href="#">
                                                Control
                                                <b class="caret"></b>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{{ url('sonata_admin_dashboard') }}">Dashboard</a></li>
                                                <li><a href="{{ url('admin_change_constants') }}">ChangeConstants</a></li>
                                                <li><a href="{{ url('admin_change_api_constants') }}">ChangeApiConstants</a></li>
                                                <li><a href="{{ url('admin_edit_about_us') }}">AboutUs</a></li>
                                                <li><a href="{{ url('admin_edit_terms_of_Service') }}">TermsOfService</a></li>
                                                <li><a href="{{ url('admin_edit_privacy_policy') }}">PrivacyPolicy</a></li>
                                                <li><a href="{{ url('admin_edit_employers_data_page') }}">EmployersDataPage</a></li>
                                                <li><a href="{{ url('admin_edit_students_data_page') }}">StudentsDataPage</a></li>
                                                <li><a href="{{ url('admin_edit_schools_page') }}">SchoolsPage</a></li>
                                                <li><a href="{{ url('admin_edit_site_forms') }}">SiteForms</a></li>
                                                <li><a href="{{ url('admin_edit_CampusReps') }}">CampusReps</a></li>
                                                <li><a href="{{ url('admin_end_of_day_report') }}">End Of Day Report</a></li>
                                            </ul>
                                        </li>
                                    </ul>

                                    <p class="navbar-text pull-right">
                                        Hello admin <a href="{{ path('logout') }}">Logout</a>
                                    </p>
                                </div>
                            </div>
                        </div><!-- /topbar-inner -->
                    </div><!-- /topbar -->
                </div>
                <br/>
            {% if app.session.hasFlash('notice') %}
                <div class="alert-message fail">
                    <p>{{ app.session.flash('notice') | raw }}</p>
                </div>
            {% endif %}
            {% if app.session.hasFlash('success') %}
                <div class="alert-message success">
                    <p>{{ app.session.flash('success') | raw }}</p>
                </div>
            {% endif %}
            {% if app.session.hasFlash('error') %}
                <div class="alert-message error">
                    <p>{{ app.session.flash('error') | raw }}</p>
                </div>
            {% endif %}
            {% block body %}{% endblock %}
            </div>
        {% block javascripts %}
            <script src="{{ asset('js/libs/jquery-1.8.1.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/sonataadmin/bootstrap/js/bootstrap-dropdown.js') }}" type="text/javascript"></script>
        {% endblock %}
        </body>
    </html>
