{% extends '::base.html.twig' %}
{% block title %}{{user}} hire request{% endblock %}

{% block pageTitle %}Hire request Details{% endblock %}

{% block body %}

<div class="container Main-content">
    <div class="company-form">
        <h2>Hire Request Details</h2>
        <div class="Notifications">

            <table width="100%" border="0" class="table table-bordered">
                <tbody><tr>
                        <th scope="row"> From</th>
                        <td><a href="{{ path('internship',{'loginName' : company.loginName}) }}">{{company}}</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"> Internship Details</th>
                        <td><a href="{{path('internship_show',{'id' : userInternship.internship.id})}}" target="_blank">see more data >></a>
                        </td>
                    </tr>
                    {% if userInternship.status != 'pending' %}
                    <tr>
                        <th scope="row"> Offer status</th>
                        <td>{{userInternship.status}}
                        </td>
                    </tr>
                    {% endif %}

                </tbody>
            </table>
            {% if userInternship.status == 'pending' %}
            <div class=" row-fluid">
                <a class="btn btn-primary pull-right" id="accepted" href="javascript:void(0)">Accept</a>
                <a class="btn pull-right " id="rejected" href="javascript:void(0)">Reject </a>
            </div>
            {% endif %}
        </div><!--Notifications--->
    </div><!--company-form-->

</div>

{#
<div id="main" role="main">

    <section id="comJobList">
        <div class="wrapper">

            <aside class="copmanyInfo">
                <h1>Company details</h1>
                <div class="infoBlock">
                    <div class="logo">
                        <img src="{{company.getTimThumbUrl(105,120)}}" width="105" height="120">
                    </div>
                    <div class="info">
                        <label>Company:</label>
                        <span>{{company}}</span>
                        <br>
                            {% if company.url %}
                        <label>Website:</label>
                        <span>
                            <a href="{{company.url}}">{{company.url}}</a>
                        </span>
                        <br>
                            {% endif %}
                        <label>Country:</label>
                        <span>{{company.getCountryName()}}</span>
                        <br>
                        <label>City:</label>
                        <span>{{company.city}}</span>
                        <br>
                            {% if company.state %}
                        <label>State:</label>
                        <span>{{company.state}}</span>
                        <br>
                            {% endif %}
                        <label>Address:</label>
                        <span>{{company.address}}</span>
                        <br>
                    </div>

                    <!--
                <p>
                    Provide students with access to companies which they would not find in their typical job search. Internjump works with small to midsized companies which do not have the resources to reach out to college campuses. By promoting internjump you will be giving your students access to opportunities they might never have learned about in their internship search process.
                </p>
                    -->

                    <div class="clear"></div>
                </div>
            </aside>

            <section class="comntSection fullWidth">

                <aside class="addEdiTask">
                    <h1>Job Details</h1>
                    <div class="intDetails">


                        <span><strong>Title : </strong>
                        {{userInternship.internship.title}}
                            </span>


                        <span><strong>Description : </strong>
                        {{userInternship.internship.description|raw}}
                            </span>

                        <span>
                            <a href="{{path('internship_show',{'id' : userInternship.internship.id})}}" target="_blank">see more data >></a>
                            </span>

                            {% if userInternship.status != 'pending' %}
                            <span><strong>Offer status : </strong>
                        {{userInternship.status}}
                                </span>
                            {% endif %}
                            </div>

                    {% if userInternship.status == 'pending' %}
                            <button class="bak" id="rejected">Reject</button>
                            <button class="submit" id="accepted">Accept</button>
                    {% endif %}

                            <div class="clear"></div>

                        </aside>




                    </section>
                    <div class="clear"></div>
                </div>
            </section>


        </div>

{#
{{userInternship.internship.company}} - {{userInternship.createdAt|date('Y-m-d')}} -
<span id="requestStatus">
{{userInternship.status}}
</span>

<span id="requestMessage">
</span>

<br/>

{% if userInternship.status == 'pending' %}
<input type="button" id="accepted" value="accept"/>
<input type="button" id="rejected" value="reject"/>
<img src="{{asset('img/loadingfacebox.gif')}}" id="requestLoader" style="display: none;"/>
{% endif %}
#}

{% endblock %}


{% block javascripts %}
{{parent()}}
        <script>

        $(document).ready(function(){
            //interest accept/reject
            $('#accepted,#rejected').click(function(){
                thisLink = $(this);
                var linkId = thisLink.attr('id');
                //hide the buttons
                $('#accepted,#rejected').hide();
                //show the loading image
                $('.loading').show();
                $.ajax({
                    url: "{{path('user_accept_reject_hire',{'userInternshipId' : userInternship.id, 'status' : ''})}}"+"/"+linkId,
                    success: function(msg) {
                        if(msg == 'done'){
                         $('#requestStatus').text(linkId);
                         $('#requestMessage').text('the request was updated successfully');
                        }
                    },
                    complete: function(msg) {
                        location.reload();
                    }
                });
            });

        });

            </script>
{% endblock %}
