{% extends '::fb_base.html.twig' %}

{% block title %}Edit Employment History{% endblock %}

{% block pageTitle %}Edit Employment History{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/jquery.alerts.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ asset('css/jquery-ui-1.8.24.custom.css') }}" rel="stylesheet" type="text/css"/>
<style>
    #tooltip{color:#444;font-size:12px;text-shadow:1px 1px 0 #fff;border:1px solid #666;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;background-repeat:repeat-x;background-position:left top;background-color:#D7D7D7;-moz-box-shadow:0 0 4px #bbb;-webkit-box-shadow:0 0 4px #bbb;box-shadow:0 0 4px #bbb;line-height:1.2em;position:absolute;z-index:100000;display:none;padding:5px}
</style>
{% endblock %}

{% block body %}

        {% if form_errors(form) %}
        <div class="alert alert-error">
            <button data-dismiss="alert" class="close" type="button"> &times; </button>
            {{ form_errors(form) }}
        </div>
        {% endif %}

        <div class="container Main-content">
            <div class="row-fluid show-grid">

                <div class="Sign-Up">

                    <form action="{{ path('fb_employmenthistory_update', { 'id': entity.id }) }}" method="post">
                        <fieldset>
                            <legend><h3>{% if formName %}{{ formName }}{% endif %}</h3></legend>
                            <p>{% if formDesc %}{{ formDesc }}{% endif %}</p>

                            <div class="controls  row-fluid show-grid">
                                <div class="span6">
                                    <label>Job Title</label>
                                    {{ form_widget(form.title, {'attr': {'class': 'span12'} }) }}

                                    <span style="display: inline-block;margin-bottom: 13px;">
                                        <img style="opacity: 1;" class="tooltip" title="Required Field" src="{{ asset('js/tooltip/required.png') }}" />
                                    </span>

                                    {% if form_errors(form.title) %}
                                    <div class="alert alert-error">
                                        <button type="button" class="close" data-dismiss="alert"> × </button>
                                        {{ form_errors(form.title) }}
                                    </div>
                                    {% endif %}
                                </div>

                                <div class="span6">
                                    <label class="checkbox">Current Position
                                        {{ form_widget(form.isCurrent, {'attr': {'class': 'employmentIsCurrentJob'} }) }}
                                    </label>

                                    {% if form_errors(form.isCurrent) %}
                                    <div class="alert alert-error">
                                        <button type="button" class="close" data-dismiss="alert"> × </button>
                                        {{ form_errors(form.isCurrent) }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="controls  row-fluid show-grid">
                                <div class="span6">
                                    <label>Started Position</label>
                                    {{ form_widget(form.startedFrom, {'attr': {'class': 'span12 employmentStartedFrom'} }) }}

                                    <span style="display: inline-block;margin-bottom: 13px;">
                                        <img style="opacity: 1;" class="tooltip" title="Required Field" src="{{ asset('js/tooltip/required.png') }}" />
                                    </span>

                                    {% if form_errors(form.startedFrom) %}
                                    <div class="alert alert-error">
                                        <button type="button" class="close" data-dismiss="alert"> × </button>
                                        {{ form_errors(form.startedFrom) }}
                                    </div>
                                    {% endif %}
                                </div>

                                <div class="span6">
                                    <label>Position Ended</label>
                                    {% if form.vars.value.isCurrent %}
                                        {{ form_widget(form.endedIn, {'attr': {'class': 'span12 employmentEndedIn', 'disabled': ''} }) }}
                                    {% else %}
                                        {{ form_widget(form.endedIn, {'attr': {'class': 'span12 employmentEndedIn'} }) }}
                                    {% endif %}

                                    {% if form_errors(form.endedIn) %}
                                    <div class="alert alert-error">
                                        <button type="button" class="close" data-dismiss="alert"> × </button>
                                        {{ form_errors(form.endedIn) }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="controls  row-fluid show-grid">
                                <div class="span6">
                                    <label>Company Name</label>
                                    {{ form_widget(form.companyName, {'attr': {'class': 'span12'} }) }}

                                    <span style="display: inline-block;margin-bottom: 13px;">
                                        <img style="opacity: 1;" class="tooltip" title="Required Field" src="{{ asset('js/tooltip/required.png') }}" />
                                    </span>

                                    {% if form_errors(form.companyName) %}
                                    <div class="alert alert-error">
                                        <button type="button" class="close" data-dismiss="alert"> × </button>
                                        {{ form_errors(form.companyName) }}
                                    </div>
                                    {% endif %}
                                </div>

                                <div class="span6">
                                    <label>Company Website</label>
                                    {{ form_widget(form.companyUrl, {'attr': {'class': 'span12'} }) }}

                                    {% if form_errors(form.companyUrl) %}
                                    <div class="alert alert-error">
                                        <button type="button" class="close" data-dismiss="alert"> × </button>
                                        {{ form_errors(form.companyUrl) }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="controls">
                                <div class="span12 select-box">
                                    <label>Industry</label>
                                    {{ form_widget(form.industry) }}

                                    {% if form_errors(form.industry) %}
                                    <div class="alert alert-error">
                                        <button type="button" class="close" data-dismiss="alert"> × </button>
                                        {{ form_errors(form.industry) }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="controls">
                                <label>More Details</label>
                                {{ form_widget(form.description, {'attr': {'class': 'span12'} }) }}

                                {% if form_errors(form.description) %}
                                <div class="alert alert-error">
                                    <button type="button" class="close" data-dismiss="alert"> × </button>
                                    {{ form_errors(form.description) }}
                                </div>
                                {% endif %}
                            </div>

                            {{ form_rest(form) }}
                            <button type="submit" class="btn btn-primary pull-right">Update</button>
                            <button style="margin-right: 10px;" onclick="confirmDelete();" type="button" class="btn btn-danger pull-right">Delete</button>
                        </fieldset>
                    </form>
                    <form id="deleteForm" action="{{ path('fb_employmenthistory_delete', { 'id': entity.id }) }}" method="post">
                        {{ form_widget(delete_form) }}
                    </form>
                </div><!--Sign-Up-->

            </div><!--Sign-Up-->
        </div><!--container-->
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/libs/jquery-ui-1.8.24.custom.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/jquery.alerts.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/tooltip/tooltip.js') }}"></script>
<script>
    function confirmDelete() {
        jConfirm(
                'ok',
                'cancel',
                'Are you sure you want to Delete This Employment History ?',
                'Warning',
                function(confirm) {
                    if (confirm) {
                        $('#deleteForm').submit();
                    }
                }
        );
    }
    function changeInputs() {
        var currentCheck = $(this);
        currentCheck.parent().parent().parent().parent().parent().find('.employmentEndedIn').each(function() {
            if(currentCheck.is(':checked')) {
                $(this).attr('disabled', 'disabled');
                $(this).val('');
            } else {
                $(this).removeAttr('disabled');
            }
        });
    }
    $(document).ready(function() {
        $('input[type="checkbox"]').ezMark();
        $('.employmentStartedFrom').datepicker({changeYear: true, yearRange : 'c-30:c+0', dateFormat: 'yy-mm-dd', maxDate: new Date()});
        $('.employmentEndedIn').datepicker({changeYear: true, yearRange : 'c-30:c+0', dateFormat: 'yy-mm-dd', maxDate: new Date()});
        $('.employmentIsCurrentJob').change(changeInputs);
    });
</script>
{% endblock %}
