{% extends '::base.html.twig' %}
{% block title %}{% trans %}Change Password{% endtrans %}{% endblock %}

{% block pageTitle %}Change Password{% endblock %}

{% block body %}
{% if form_errors(form) %}
<div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert"> × </button>
    {{ form_errors(form) }}
</div>
{% endif %}

<div class="container Main-content">
    <div class="row-fluid show-grid">

        <div class="span6">
            <div class="Sign-Up">

                <form action="{{ path('company_change_password', {'confirmationCode': company.confirmationCode, 'email': company.email}) }}" method="post" {{ form_enctype(form) }}>
                    <fieldset>
                        <legend><h3>Change Password</h3></legend>
                        <div class="controls">
                            <label>Password</label>
                            {{ form_widget(form.userPassword.Password,{'attr' : {'class' : 'span12'}}) }}
                            {% if form_errors(form.userPassword) %}
                            <div class="alert alert-error">
                                <button type="button" class="close" data-dismiss="alert"> × </button>
                                    {{ form_errors(form.userPassword) }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="controls">
                            <label>RePassword</label>
                            {{ form_widget(form.userPassword.RePassword,{'attr' : {'class' : 'span12'}}) }}
                        </div>
                        {{ form_rest(form) }}
                        <button class="btn btn-primary pull-right" type="submit">Submit</button>
                    </fieldset>
                </form>
            </div><!--Sign-Up-->
        </div>

    </div><!--Sign-Up-->
</div>
{% endblock %}