{% extends '::base.html.twig' %}

{% block title %}New Education{% endblock %}

{% block pageTitle %}New Education{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/jquery-ui-1.8.24.custom.css') }}" rel="stylesheet" type="text/css"/>
<style>
    #tooltip{color:#444;font-size:12px;text-shadow:1px 1px 0 #fff;border:1px solid #666;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;background-repeat:repeat-x;background-position:left top;background-color:#D7D7D7;-moz-box-shadow:0 0 4px #bbb;-webkit-box-shadow:0 0 4px #bbb;box-shadow:0 0 4px #bbb;line-height:1.2em;position:absolute;z-index:100000;display:none;padding:5px}
</style>
{% endblock %}

{% block body %}

        {% if form_errors(form) %}
        <div class="alert alert-error">
            <button data-dismiss="alert" class="close" type="button"> &times; </button>
            {{ form_errors(form) }}
        </div>
        {% endif %}

        <div class="container Main-content">
            <div class="row-fluid show-grid">

                <a class="addNewEducation btn btn-mini btn-info" style="color:#fff;margin-bottom: 20px;" href="javascript:void(0)">Add New Education</a>
                <div class="Sign-Up" id="newEducationDiv" style="display: none;">

                    <form action="{{ path('education_create') }}" method="post">
                        <fieldset>
                            <p>{% if formDesc %}{{ formDesc }}{% endif %}</p>

                            <div class="controls  row-fluid show-grid">
                                <div class="span6">
                                    <label>School</label>
                                    {{ form_widget(form.schoolName, {'attr': {'class': 'span12'} }) }}

                                    <span style="display: inline-block;margin-bottom: 13px;">
                                        <img style="opacity: 1;" class="tooltip" title="Required Field" src="{{ asset('js/tooltip/required.png') }}" />
                                    </span>

                                    {% if form_errors(form.schoolName) %}
                                    <div class="alert alert-error">
                                        <button type="button" class="close" data-dismiss="alert"> × </button>
                                        {{ form_errors(form.schoolName) }}
                                    </div>
                                    {% endif %}
                                </div>

                                <div class="span6">
                                    <label>Degree Type</label>
                                    {{ form_widget(form.underGraduate, {'attr': {'class': 'underGraduate radio inline'} }) }}

                                    <span style="display: inline-block;margin-bottom: 13px;">
                                        <img style="opacity: 1;" class="tooltip" title="Required Field" src="{{ asset('js/tooltip/required.png') }}" />
                                    </span>

                                    {% if form_errors(form.underGraduate) %}
                                    <div class="alert alert-error">
                                        <button type="button" class="close" data-dismiss="alert"> × </button>
                                        {{ form_errors(form.underGraduate) }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="controls">
                                <label>Major</label>
                                {{ form_widget(form.major, {'attr': {'class': 'span12'} }) }}

                                {% if form_errors(form.major) %}
                                <div class="alert alert-error">
                                    <button type="button" class="close" data-dismiss="alert"> × </button>
                                    {{ form_errors(form.major) }}
                                </div>
                                {% endif %}
                            </div>

                            <div class="controls">
                                <label>Minor</label>
                                {{ form_widget(form.minor, {'attr': {'class': 'span12'} }) }}

                                {% if form_errors(form.minor) %}
                                <div class="alert alert-error">
                                    <button type="button" class="close" data-dismiss="alert"> × </button>
                                    {{ form_errors(form.minor) }}
                                </div>
                                {% endif %}
                            </div>

                            <div class="controls  row-fluid show-grid">
                                <div class="span6 select-box">
                                    <label>Cumulative GPA</label>
                                    {{ form_widget(form.cumulativeGPA, {'attr': {'class': 'span12'} }) }}

                                    {% if form_errors(form.cumulativeGPA) %}
                                    <div class="alert alert-error">
                                        <button type="button" class="close" data-dismiss="alert"> × </button>
                                        {{ form_errors(form.cumulativeGPA) }}
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="span6 select-box">
                                    <label>Major GPA</label>
                                    {{ form_widget(form.majorGPA, {'attr': {'class': 'span12'} }) }}

                                    {% if form_errors(form.majorGPA) %}
                                    <div class="alert alert-error">
                                        <button type="button" class="close" data-dismiss="alert"> × </button>
                                        {{ form_errors(form.majorGPA) }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="controls graduateDegreeRow"{% if not form.vars.value.underGraduate %} style="display: none;"{% endif %}>
                                <label>Graduate Degree</label>
                                {{ form_widget(form.graduateDegree, {'attr': {'class': 'graduateDegree span12'} }) }}

                                {% if form_errors(form.graduateDegree) %}
                                <div class="alert alert-error">
                                    <button type="button" class="close" data-dismiss="alert"> × </button>
                                    {{ form_errors(form.graduateDegree) }}
                                </div>
                                {% endif %}
                            </div>

                            <div class="controls underGraduateDegreeRow"{% if form.vars.value.underGraduate is sameas(null) or form.vars.value.underGraduate %} style="display: none;"{% endif %}>
                                <label>UnderGraduate Degree</label>
                                {{ form_widget(form.underGraduateDegree, {'attr': {'class': 'underGraduateDegree span12'} }) }}

                                {% if form_errors(form.underGraduateDegree) %}
                                <div class="alert alert-error">
                                    <button type="button" class="close" data-dismiss="alert"> × </button>
                                    {{ form_errors(form.underGraduateDegree) }}
                                </div>
                                {% endif %}
                            </div>

                            <div class="controls  row-fluid show-grid">
                                <div class="span6 select-box">
                                    <label>Start Date</label>
                                    {{ form_widget(form.startDate) }}

                                    <span style="display: inline-block;margin-bottom: 13px;">
                                        <img style="opacity: 1;" class="tooltip" title="Required Field" src="{{ asset('js/tooltip/required.png') }}" />
                                    </span>

                                    {% if form_errors(form.startDate) %}
                                    <div class="alert alert-error">
                                        <button type="button" class="close" data-dismiss="alert"> × </button>
                                        {{ form_errors(form.startDate) }}
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="span6 select-box">
                                    <label>End Date</label>
                                    {{ form_widget(form.endDate) }}

                                    <span style="display: inline-block;margin-bottom: 13px;">
                                        <img style="opacity: 1;" class="tooltip" title="Required Field" src="{{ asset('js/tooltip/required.png') }}" />
                                    </span>

                                    {% if form_errors(form.endDate) %}
                                    <div class="alert alert-error">
                                        <button type="button" class="close" data-dismiss="alert"> × </button>
                                        {{ form_errors(form.endDate) }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="controls">
                                <label>Relevant Coursework Taken</label>
                                {{ form_widget(form.relevantCourseworkTaken, {'attr': {'class': 'span12'} }) }}

                                {% if form_errors(form.relevantCourseworkTaken) %}
                                <div class="alert alert-error">
                                    <button type="button" class="close" data-dismiss="alert"> × </button>
                                    {{ form_errors(form.relevantCourseworkTaken) }}
                                </div>
                                {% endif %}
                            </div>

                            <div class="well well-small muted">
                                <small>Separate Multiple Course Names With Commas</small>
                            </div>

                            <div class="controls">
                                <label>Extracurricular Activity</label>
                                {{ form_widget(form.extracurricularActivity, {'attr': {'class': 'span12'} }) }}

                                {% if form_errors(form.extracurricularActivity) %}
                                <div class="alert alert-error">
                                    <button type="button" class="close" data-dismiss="alert"> × </button>
                                    {{ form_errors(form.extracurricularActivity) }}
                                </div>
                                {% endif %}
                            </div>

                            <div class="well well-small muted">
                                <small>Separate Multiple Course Names With Commas</small>
                            </div>

                            {{ form_rest(form) }}
                            <button type="submit" class="btn btn-primary pull-right">Save</button>
                        </fieldset>
                    </form>
                </div><!--Sign-Up-->

            </div><!--Sign-Up-->

            {% if app.user.educations | length > 0 %}
            <div class="company-form">
                <h2>Your Education History</h2>
                <div class="Notifications">

                    <table width="100%" border="0" class="table table-bordered">
                        <tbody>
                            <tr>
                                <th scope="row">School</th>
                                <th scope="row">Major</th>
                                <th scope="row">Minor</th>
                                <th scope="row">Graduate Degree</th>
                                <th scope="row">UnderGraduate Degree</th>
                                <th scope="row">Start Date</th>
                                <th scope="row">End Date</th>
                                <th scope="row">Action</th>
                            </tr>
                            {% for education in app.user.educations %}
                            <tr>
                                <td>{{ education.schoolName }}</td>
                                <td>{{ education.major }}</td>
                                <td>{{ education.minor }}</td>
                                <td>{{ education.graduateDegree }}</td>
                                <td>{{ education.underGraduateDegree }}</td>
                                <td>{{ education.startDate }}</td>
                                <td>{{ education.endDate }}</td>
                                <td><a href="{{ path('education_edit',{'id' : education.id }) }}"><i class="icon-pencil"></i></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div><!--Notifications--->
            </div>
            {% endif %}
        </div><!--container-->
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/libs/jquery-ui-1.8.24.custom.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/tooltip/tooltip.js') }}"></script>
<script>
    $(document).ready(function() {
        // show/hide education form
        $('.addNewEducation').click(function(){
           if($('#newEducationDiv').is(':visible')){
               $('#newEducationDiv').slideUp(1000);
           } else{
               $('#newEducationDiv').slideDown(1000);
           }
        });

        $('.graduateDegree').autocomplete({
            autoFocus: true,
            minLength: 2,
            source: "{{ path('education_undergraduate_degrees', {'for': 'graduate'})}}"
        });
        $('.underGraduateDegree').autocomplete({
            autoFocus: true,
            minLength: 2,
            source: "{{ path('education_undergraduate_degrees', {'for': 'undergraduate'})}}"
        });
        $('.underGraduate input').change(function() {
            var currentCheck = $(this);
            if(currentCheck.val())
            $('.graduateDegreeRow').each(function() {
                if(currentCheck.val() == 1) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
            $('.underGraduateDegreeRow').each(function() {
                if(currentCheck.val() == 0) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });
</script>
{% endblock %}
