{% extends '::base.html.twig' %}


{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/chosen.css')}}"/>
{{ parent()}}

<link href="{{ asset('css/jquery.bxslider.css')}}" rel="stylesheet" />
{% endblock %}


{% block headerClasss %}{% if is_granted('ROLE_NOTACTIVE_COMPANY') or is_granted('ROLE_NOTACTIVE') or is_granted('ROLE_COMPANY_MANAGER')%}head-1{% endif %}{% endblock %}


{%block body%}

<ul class="bxslider">
    <li><img title="Your New Office Awaits You.."  src="{{asset('img/Slider.jpg')}}"/></li>
    <li><img title="Jump Start Your Career"  src="{{asset('img/Slider2.jpg')}}" /></li>
</ul>

<div class="container Search-Slide">
    <ul class="list-b">
     <li>Discover places you will love to work</li>
     <li>Find out which jobs you are a fit for</li>
     <li>Showcase your unique skills through the young professional profile</li>
    </ul>

    <h1>Jump Start Your Career</h1>

    <div class="Search-block">
        {% render "ObjectsAPIBundle:Facebook:facebookButton" with {'facebookUserHandleRoute' : 'facebook_logging','permissions': 'email,publish_stream,user_birthday,user_about_me,user_education_history,user_work_history,user_location,user_hometown','cssClass' : 'login-f-b' , 'linkText' : 'Sign up with Facebook'} %}

        <div class="text-center Or">or</div>
        <hr/>
        <div class="Login-form">
            <form action="{{ path('user_signup') }}" method="post" {{ form_enctype(form) }}>
                <div>{{ form_widget(form.email, {'attr': {'placeholder': 'Enter your email','class' : 'input-block-level'} }) }}</div>
                <div>{{ form_widget(form.userPassword.Password, {'attr': {'placeholder': 'Enter password','class':'input-block-level'} }) }}</div>
                <div class="text-right">
                    <button class="btn btn-info input-block-level" type="submit">Sign Up</button>
                </div>
            </form>
        </div>




    </div>
</div><!--Search-Slide-->

<div class=" section-b">
<div class="container">
    <div class="Search-block2">

        <div class="Search-form">
            <form>
                <div class="row">
                    <div class="job-type span4">
                        <select data-placeholder="Jop Type" class="chosen-select" tabindex="2" id="companyFilter">
                            <option></option>
                            <option value="Internship" selected>Internship</option>
                            <option value="Entry Level">Entry Level</option>
                        </select>
                    </div>
                    {% if allState |length > 0 %}
                    <div class="State span4">
                        <select data-placeholder="State" class="chosen-select" tabindex="2" id="stateFilter">
                            <option></option>
                            {% for state in allState %}
                            <option value="{{state}}">{{state}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}

                    {% if allCategory |length > 0 %}
                    <div class="Industry span4">
                        <select data-placeholder="Industry" class="chosen-select" tabindex="2" id="industryFilter">
                            <option></option>
                            {% for category in allCategory %}
                            <option value="{{category.id}}">{{category}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}

                </div>

                <div class="text-right">
                    <button class="btn btn-a" id="homeSearchJob" type="button">Search Now</button>
                </div>

            </form>
        </div>


    </div>
</div>
</div>

<div class="How-work">
    <h1>Finding Your Career Path Has Never Been Easier!</h1>
    <div class="container">
        <h3>Launching your career as a young professional can be difficult. Pathjump makes it easy to: discover what career you are best suited for, connect with your classmates and alumn,learn about different company cultures, and search for relevant openings.</h3>
    </div>
</div><!--How-work-->

<div class="home-infos">
    <div class="container">

        <ul class="row-fluid show-grid">
            <li class="span4">
                <h2>Create an interactive career profile customized for young professionals without significant full-time experience. This isn't your dad's career network!</h2>
                <div class="img-box">
                    <img  class="img-circle" src="{{asset('img/10.jpg')}}">
                    <span class="icon-box"><i class="fa fa-user"></i></span>
                </div>
                <h5>Create a unique Pathjump profile to show off your skills, interests, and accomplishments</h5>
            </li>
            <li class="span4">
                <h2>Discover Companies You Would Enjoy Working For</h2>
                <div class="img-box">
                    <img  class="img-circle" src="{{asset('img/11.jpg')}}">
                    <span class="icon-box"><i class="fa fa-user"></i></span>
                </div>
                <h5>Learn about different company cultures and each company’s unique mission</h5>
            </li>
            <li class="span4">
                <h2>Find Answers To Your Career Questions</h2>
                <div class="img-box">
                    <img  class="img-circle" src="{{asset('img/12.jpg')}}">
                    <span class="icon-box"><i class="fa fa-user"></i></span>
                </div>
                <h5>Should I work for a start-up or a big corporation? What is it like to interview with Amazon? What are pros and cons of working in NYC versus San Francisco? Find the career answers you need!</h5>
            </li>
        </ul>
    </div>
</div>

<div class="section3">
    <div class="container">
        <div class="row-fluid show-grid">
            <div class="span3">
                <div class="find-worth">
                    <h3 class="title">Find<span class="green"> Your</span> Worth</h3>
                    <i class="fa fa-dollar"></i>
                    <h3>How Can I</h3>
                    <h2 class="yellow">Maximize</h2><h1> My Salary?</h1>
                    {% if not is_granted('ROLE_NOTACTIVE_COMPANY') and not is_granted('ROLE_COMPANY_MANAGER') %}
                    <a href="{{path('howMuchAreYouWorth')}}" class="link-a">Find My Worth</a>
                    {% endif %}
                </div><!--find-worh-->
            </div>
            {% if worthUsers | length > 0 %}
            <div class="span3 Maxim">
                <h2>How Can I Maximize My Salary?</h2>  

                <ul class="list-a">
                    {% if worthFrom == 'automatic' %}
                        {% for user in worthUsers %}
                            <li>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object" src="{{user.getTimThumbUrl(84,62)}}">
                                    </a>
                                    <div class="media-body">
                                        <h3 class="media-heading yellow">{{user}} - $ {% if user.worthResult == 0 %}?{% else %}{{user.worthResult}}{% endif %}</h3>
                                        {% if user.dateOfBirth %}
                                        <p>Age: {% if user.getAge() == 0 %}?{% else %}{{user.getAge()}} years old{% endif %}</p>
                                        {% endif %}
                                        <p>Source of wealth: Facebook</p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    {% else %}
                        {% for user in worthUsers %}
                            <li>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object" src="{{user.getTimThumbUrl(84,62)}}">
                                    </a>
                                    <div class="media-body">
                                        <h3 class="media-heading yellow">{{user}} - $ {% if user.worthResult == 0 %}?{% else %}{{user.worthResult}}{% endif %}</h3>

                                        <p>Age: {% if user.age == 0 %}?{% else %}{{user.age}} years old{% endif %}</p>

                                        <p>Source of wealth: {{user.source}}</p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>

            </div>
            {% endif %}
            <div class="span6 testmonials">
                <h2>Young Professionals Are Talking!</h2>
                <div class="testmonial-block">



                    <div id="myCarouse2" class="carousel slide slider-a">

                        <!-- Carousel items -->
                        <div class="carousel-inner">

                            <div class="active item">
                                <div class="text-box"><i class="fa fa-quote-left"></i>
                                    <p>
                                        Pathjump is really great. I was lucky to get into the beta. There were tons of openings that I would not have seen elsewhere and creating my virtual profile was simple and fun!
                                    </p>
                                </div>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object" src="{{asset('img/john-h-internjump.jpg')}}" width="62" height="85"/>
                                    </a>
                                    <div class="media-body">
                                        <h3 class="media-heading"><i class="fa fa-user"></i> John H</h3>
                                        <div class="muted">(Cornell 2010)</div>
                                    </div>
                                </div>
                            </div>


                            <div class="item">
                                <div class="text-box"><i class="fa fa-quote-left"></i>
                                    <p>
                                        The Pathjump system made finding and interacting with employers a breeze and I got my investment banking internship!
                                    </p>
                                </div>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object" src="{{asset('img/roni-y-internjump.jpg')}}" width="62" height="85"/>
                                    </a>
                                    <div class="media-body">
                                        <h3 class="media-heading"><i class="fa fa-user"></i> Roni Y</h3>
                                        <div class="muted">(Baruch College 2010)</div>
                                    </div>
                                </div>
                            </div>


                            <div class="item">
                                <div class="text-box"><i class="fa fa-quote-left"></i>
                                    <p>
                                        I was not sure what career I wanted to pursue-there are so many options! Pathjump helped me find tune my job search after college
                                    </p>
                                </div>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object" src="{{asset('img/CheyenneB.jpg')}}" width="62" height="85"/>
                                    </a>
                                    <div class="media-body">
                                        <h3 class="media-heading"><i class="fa fa-user"></i> Cheyenne B.</h3>
                                        <div class="muted">(University of Maryland 2013)</div>
                                    </div>
                                </div>
                            </div>


                            <div class="item">
                                <div class="text-box"><i class="fa fa-quote-left"></i>
                                    <p>
                                        Finding an internship is so difficult! Pathjump helps you find that internship to start your career!
                                    </p>
                                </div>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object" src="{{asset('img/shohelK.jpg')}}" width="62" height="85"/>
                                    </a>
                                    <div class="media-body">
                                        <h3 class="media-heading"><i class="fa fa-user"></i> Shohel K.</h3>
                                        <div class="muted">(Baruch College 2010)</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#myCarouse2" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#myCarouse2" data-slide="next">&rsaquo;</a>
                    </div>




                </div><!--testmonial-block--->




            </div>
        </div>
    </div>

</div>

{% if featuredCompanies | length > 0 %}
<div class="news-block">
    <div class="container">
        <div id="myCarouse3" class="carousel slide slider-a">

            <!-- Carousel items -->
            <div class="carousel-inner">


                <div class="active item">
                    <div class="row-fluid show-grid">
                        {% for company in featuredCompanies %}
                                {% if loop.index % 6 == 0 %}
                            </div>
                        </div>
                        <div class="item">
                            <div class="row-fluid show-grid">
                                {% endif %}

                                    {% if loop.first %}
                                        {# the loop is displaying 3 results first then group of 4, to fix that i added this line #}
                                        <div class="span2">
                                            <img src="/company-logo/173/71/51cda3c0a06db.jpg"  width="173" height="71"/>

                                    </div>
                                    {% endif %}

                                    <div class="span2">
                                            <img src="{{company.getTimThumbUrl(173,71)}}"  width="173" height="71"/>

                                    </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarouse3" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarouse3" data-slide="next">&rsaquo;</a>
        </div>

    </div>
</div>
{% endif %}
{%endblock%}

{% block javascripts %}
{{parent()}}
<script src="{{asset('js/chosen.jquery.js')}}" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var config = {
            '.chosen-select': {},
            '.chosen-select-deselect': {allow_single_deselect: true},
            '.chosen-select-no-single': {disable_search_threshold: 10},
            '.chosen-select-no-results': {no_results_text: 'Oops, nothing found!'},
            '.chosen-select-width': {width: "95%"}
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }
        $('.carousel').carousel();
    });
    </script>
    <!-- bxSlider Javascript file -->
    <script src="{{asset('js/jquery.bxslider.js')}}"></script>


    <script>
    var searchJobsUrl = "{{path('user_search_page')}}";
    $(document).ready(function() {
        $('#homeSearchJob').click(function() {

            var company = $('#companyFilter').val();
            var city = $('#cityFilter').val();
            var state = $('#stateFilter').val();
            var category = $('#industryFilter').val();
            var keyword = $('#keywordFilter').val();


            if (company || city || state || category || keyword)
                searchJobsUrl += '?';

            if (company)
                searchJobsUrl += "&jobType=" + company;

            if (city)
                searchJobsUrl += "&city=" + city;

            if (state)
                searchJobsUrl += "&state=" + state;

            if (category)
                searchJobsUrl += "&industry=" + category;

            if (keyword)
                searchJobsUrl += "&keyword=" + keyword;

            window.location = searchJobsUrl;
        });
    });
    </script>
{% endblock %}
